# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.dump
TOPSCORES_*
STATE_*

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# our files
*.png
*.jpg
*.jpg 
SCOREBOARD_1671562385.txt
SCOREBOARD_1671562788.txt
SCOREBOARD_1671562891.txt
SCOREBOARD_1671562980.txt
SCOREBOARD_1671563159.txt
SCOREBOARD_1671563270.txt
SCOREBOARD_1671563687.txt
SCORES/0_099282_1221120_185213.txt
SCORES/0_099282_1221120_185228.txt
SCORES/0_099282_1221120_18532.txt
SCORES/0_099282_1221120_19745.txt
GAMES/099282/2011122_19745_W.txt
GAMES/099282/2011122_18532_W.txt
GAMES/099282/2011122_185228_W.txt
GAMES/099282/2011122_185213_W.txt
